p {
    color: brown;
background-color: aqua;
font-size: 24px;
line-height: 32px;
letter-spacing: 5px;
font-style: italic;

border: 2px solid blue;
border-top: 3px dashed rgb(184, 11, 11);
border-left: 3px dashed rgb(184, 11, 11);
border-right: 3px dashed rgb(184, 11, 11);
border-bottom: 3px dashed rgb(184, 11, 11);
}



span {
    color: rgb(71, 8, 8);
    background-color: rgb(125, 222, 252);
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
}

div{
    background-color: aqua;
    border-radius: 10px;

    /* border-bottom-left-radius: 20px ;
    border-top-right-radius: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; */

    padding: 10px 30px ;
    padding-left:12px ;
    padding-right:12px ;
    padding-top: 30px;
    padding-bottom:55px ;

    margin: 50px;
}

main{
    background-color: blueviolet;

}

#unique-article{
    padding: 10px;
    background-color: chocolate;
}